<div class="container">
  <div class="profile-container">
    <span><%= image_tag '', size: '200x200' %></span>
    <div class="profile inline-block">
      <h1><%= @user.name %></h1>
      <p>年齢: <%= @user.age %>歳</p>
      <p>職業: <%= @user.profession %></p>
    </div>
    <div class="user-content">
      <p><%= @user.content %></p>
    </div>
  </div>
  <div class="work-container none">
    <div class="work-scroll inline-block">
      <ul>
        <% @works.each_with_index do |work, i| %>
            <li value=<%= i+1 %> <% if i==0 %> class="selected-work" <% end %>><%= work.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="work-content inline-block">
      <span class="inline-block"><%= image_tag '', size: '400x300', id: 'work-image' %></span>
      <div class="work-right-content inline-block">
        <h1>Title: <%= @work.title %></h1>
        <p>関連url: <%= @work.url %></p>
        <p>status: <%= @work.status %></p>
        <p>公開日: <%= @work.release_at.strftime("%Y/%m/%d") %></p>
        <div>
          <p>Skill</p>
          <% @work.skills.each do |skill| %>
            <span><%= skill.name %> </span>
          <% end %>
        </div>
      </div>
      <p id="work-content"><%= @work.content %></p>
    </div>
  </div>
  <div class="skill-container none">
    <% @skills.each do |skill| %>
      <p><%= skill.name %></p>
    <% end %>
  </div>
  <div class="history-container none">
    <% @histories.each do |history| %>
      <p><%= history.title %></p>
    <% end %>
  </div>
</div>