<div class="profile-container">
  <div class="user-edit-btns">
    <button class="none user-edit-cancel-btn">cansel</button>
    <button class="none user-edit-save-btn">save</button>
    <span class="user-edit-btn"><i class="far fa-edit fa-2x"></i></span>
  </div>
  <span>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: '200x200', id: 'user-image' %>
  <% else %>
    <%= image_tag '', size: '200x200', id: 'user-image' %>
  <% end %>
  </span>
  <div class="profile inline-block">
    <h1><%= @user.name %>/<%= @user.en_name %></h1>
    <p class="user-age">年齢: <%= @user.age %>歳</p>
    <p class="user-profession">職業: <%= @user.profession %></p>
  </div>
  <div class="user-content">
    <h3>Profile</h3>
    <p><%= @user.content %></p>
  </div>
  <div class="user-service">
    <h3>Service</h3>
    <p><%= @user.service %></p>
  </div>
</div>